PORT=4000
CLIENT_ORIGIN=http://localhost:5173
DOUYIN_CLIENT_ID=
DOUYIN_CLIENT_SECRET=
DOUYIN_REDIRECT_URI=http://localhost:4000/api/oauth/douyin/callback
BILIBILI_CLIENT_ID=
BILIBILI_CLIENT_SECRET=
BILIBILI_REDIRECT_URI=http://localhost:4000/api/oauth/bilibili/callback
